pandas
datetime
requests
python-dotenv
geopy
orjson
fastapi
uvicorn
numpy
opencv-python
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.12.1+cpu
torchvision==0.13.1+cpu
mmdet
sahi == 0.11.4
openmim
scikit-learn
jinja2
deta
